<div class="push"></div>
<footer>

  <aside class="wrap">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.twitter_username %}
          <li><a id="twit" href="http://twitter.com/{{ site.twitter_username }}" target="_blank"><span class="foot-link">@{{ site.twitter_username }}</span></a></li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </aside>

</footer>
